*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../888.jpg);
    height: 230vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 4%;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.astonmartin a img{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 200px;
    width: 250px;
}
.audi a img{
    position: absolute;
    top: 30%;
    left: 38%;
    height: 200px;
    width: 280px;
}
.bentely a img{
    position: absolute;
    top: 30%;
    left: 68%;
    height: 200px;
    width: 280px;
}
.bmw a img{
    position: absolute;
    top: 72%;
    left: 5%;
    height: 200px;
    width: 200px;
}
.honda a img{
    position: absolute;
    top: 72%;
    left: 30%;
    height: 200px;
    width: 200px;
}
.koinegsegg a img{
    position: absolute;
    top: 72%;
    left: 55%;
    height: 200px;
    width: 200px;
}
.chevrolet a img{
    position: absolute;
    top: 72%;
    left: 80%;
    height: 200px;
    width: 200px;
}
.ferrari a img{
    position: absolute;
    top: 110%;
    left: 5%;
    height: 200px;
    width: 200px;
}
.porsche a img{
    position: absolute;
    top: 110%;
    left: 30%;
    height: 200px;
    width: 200px;
}
.Volkswagen a img{
    position: absolute;
    top: 110%;
    left: 55%;
    height: 200px;
    width: 200px;
}
.lamborghini a img{
    position: absolute;
    top: 110%;
    left: 80%;
    height: 200px;
    width: 200px;
}
.bugatti a img{
    position: absolute;
    top: 150%;
    left: 5%;
    height: 200px;
    width: 200px;
}
.ford a img{
    position: absolute;
    top: 150%;
    left: 30%;
    height: 200px;
    width: 200px;
}
.tesla a img{
    position: absolute;
    top: 150%;
    left: 55%;
    height: 200px;
    width: 200px;
}
.mercedes a img{
    position: absolute;
    top: 150%;
    left: 80%;
    height: 200px;
    width: 200px;
}
.hyundai a img{
    position: absolute;
    top: 190%;
    left: 5%;
    height: 200px;
    width: 200px;
}
.toyota a img{
    position: absolute;
    top: 190%;
    left: 30%;
    height: 200px;
    width: 200px;
}
.pagani a img{
    position: absolute;
    top: 190%;
    left: 55%;
    height: 200px;
    width: 200px;
}
.rollsroyce a img{
    position: absolute;
    top: 190%;
    left: 80%;
    height: 200px;
    width: 200px;
}

